.fuscas-lista {
  padding-top: 60px;
}

.fuscas-lista h2 {
  padding-left: 40px;
}

.fuscas-lista ul {
  display: flex;
  gap: 40px;
}

.fuscas-lista img {
  margin-bottom: 16px;
  border-radius: 5px;
  object-fit: cover;
}

.fuscas-lista h3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.fuscas-lista h3::before {
  content: "";
  display: block;
  height: 8px;
  width: 12px;
  background: var(--cor-p1);
  margin-top: 4px;
  margin-right: 8px;
  transition: width 0.2s;
}

.fuscas-lista a:hover h3::before {
  width: 24px;
}

.fuscas-lista li span {
  padding-left: 20px;
  color: var(--cor-8);
}
